<html>
<head>
    <!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script> -->
    <script type="text/javascript" src="../jquery.min.js"></script>
    <script src="../../angular.min.js"></script>
</head>
<body>
    <div ng-app="" ng-init="qty = 5; cost = 6">
        <input type="number" ng-model="qty"><br />
        <input type="number" ng-model="cost"><br />
        Total: {{ qty * cost}}
        
    </div>

</body>
</html>